<IfModule mod_rewrite.c>

# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /blogg

# Don't rewrite any index.php to avoid loops
RewriteRule ^index\.php$ - [L]

# Don't redirect if there's an asset
RewriteCond %{REQUEST_FILENAME} !\.(js|ico|gif|jpg|png|css|html|swf|mp3|wav|txt)$

# Redirecto to index.php
RewriteRule . index.php [L]

</IfModule>